body header nav {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body header nav img {
    width: 30%;

}
body header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 70%;
}
body {
    background-color: lightpink;
    font-style: normal;
    font-family: Papyrus, Arial, Helvetica, sans-serif;
    
}
article {
    text-align: center;
    padding: 15px 150px;
}
aside {
    background-color: lightpink;
    padding: 15px 80px;
}
footer {
    background-color: white;
    text-align: center;
    
}
footer img {
    width: 50px;
    height: 40px;
}
