body header nav ul {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
body {
    background-color: lightpink;
    font-style: normal;
    font-family: Papyrus;
}
aside {
    background-color: lightpink;
}
footer {
    background-color: lightcoral;
    text-align: center;
}