 main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
article h1 {
    width: 40%;
}
article div {
    width: 60%;
    justify-content: center;
    align-items: flex-start;
}
section h2 {
    width: 30%;
    justify-content: center;
    align-items: flex-start;
}
section div {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
}
section ul {
    width: 30%;
    justify-content: center;
    align-items: flex-start;

}
aside {
    background-color: azure;
}
